<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="account_layout">


    <div class="content" layout:fragment="content">

		<div class="dealsList" id="buyerDealsList">
			<ul>
				<li th:each="deal : ${deals}">
					<span th:text="${deal.description}"></span>
					 - shared by 
					<span th:text="${deal.seller.email}"></span>
					 on
					<span th:text="${#dates.format(deal.createdAt, 'dd/MMM/yyyy HH:mm')}"></span>
										
					<ul>
						<li th:each="document : ${deal.documents}" >
							<a target="_blank" th:href="@{/account/document/{document_id}.pdf(document_id=${document.id})}" th:text="${document.filename}"></a>
						</li>
					</ul>					
					
				</li>
			</ul>
		</div>

    </div>
    
</html>
      

